AddDescription "Ma duc la plimbare" "ma-duc-la-plimbare"  r
AddDescription "Ma duc cu marta si coszu" "ma-duc-cu-marta-si-coszu"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "Obovon" "obovon.md"
AddDescription "Milli moi" "milli-moi.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "het" "het.md"
AddDescription "het" "het"  r
AddDescription "Milli moi" "milli-moi"  r
AddDescription "Kanal D" "kanal-d.md"
AddDescription "Kanal D" "kanal-d"  r
AddDescription "Sper ca merge" "sper-ca-merge.md"
AddDescription "Sper ca merge" "sper-ca-merge"  r
AddDescription "lala" "lala.md"
AddDescription "lala" "lala"  r
AddDescription "fasd" "fasd.md"
AddDescription "fasd" "fasd"  r
AddDescription "Hey i think this will werk" "hey-i-think-this-will-werk.md"
AddDescription "Hey i think this will werk" "hey-i-think-this-will-werk"  r
AddDescription "book good book" "book-good-book.md"
AddDescription "book good book" "book-good-book"  r
AddDescription "c++ cool" "c-cool.md"
AddDescription "c++ cool" "c-cool"  r
AddDescription "random" "random.md"
AddDescription "random" "random"  r
AddDescription "sex and the city" "sex-and-the-city.md"
AddDescription "sex and the city" "sex-and-the-city"  r
AddDescription "" "MatrixMulMR"  r
AddDescription "ucccc" "ucccc.md"
AddDescription "ucccc" "ucccc"  r
AddDescription "Cioc si pusca" "cioc-si-pusca.md"
AddDescription "Cioc si pusca" "cioc-si-pusca"  r
AddDescription "Nane" "nane.md"
AddDescription "Nane" "nane"  r
AddDescription "Спакойная ночь" ".md"
AddDescription "Obovon" "obovon"  r
AddDescription "Noapte buna" "noapte-buna.md"
AddDescription "Noapte buna" "noapte-buna"  r
AddDescription "new post!" "new-post.md"
AddDescription "new post!" "new-post"  r
AddDescription "Traditia traditia" "traditia-traditia.md"
AddDescription "Traditia traditia" "traditia-traditia"  r
AddDescription "Marfa este rea cu mine" "marfa-este-rea-cu-mine.md"
AddDescription "Marfa este rea cu mine" "marfa-este-rea-cu-mine"  r
AddDescription "MArfa" "marfa.md"
AddDescription "" "mdprew"  r
AddDescription "mwie" "mwie.md"
AddDescription "mwie" "mwie"  r
AddDescription "Aura" "aura.md"
AddDescription "Aura" "aura"  r
AddDescription "La varie vie" "la-varie-vie.md"
AddDescription "La varie vie" "la-varie-vie"  r
AddDescription "madame" "madame.md"
AddDescription "madame" "madame"  r
AddDescription "blog" "blog.md"
AddDescription "blog" "blog"  r
AddDescription "ineficace" "ineficace.md"
AddDescription "ineficace" "ineficace"  r
AddDescription "ukren" "ukren.md"
AddDescription "ukren" "ukren"  r
AddDescription "le donbas" "le-donbas.md"
AddDescription "le donbas" "le-donbas"  r
AddDescription "L aide a Ukraine" "l-aide-a-ukraine.md"
AddDescription "L aide a Ukraine" "l-aide-a-ukraine"  r
