AddDescription "Ma duc la plimbare" "ma-duc-la-plimbare"  r
AddDescription "Ma duc cu marta si coszu" "ma-duc-cu-marta-si-coszu"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "Obovon" "obovon.md"
AddDescription "Milli moi" "milli-moi.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "het" "het.md"
AddDescription "het" "het"  r
AddDescription "Milli moi" "milli-moi"  r
AddDescription "Kanal D" "kanal-d.md"
AddDescription "Kanal D" "kanal-d"  r
AddDescription "Sper ca merge" "sper-ca-merge.md"
AddDescription "Sper ca merge" "sper-ca-merge"  r
AddDescription "lala" "lala.md"
AddDescription "lala" "lala"  r
AddDescription "fasd" "fasd.md"
AddDescription "fasd" "fasd"  r
AddDescription "Hey i think this will werk" "hey-i-think-this-will-werk.md"
AddDescription "Hey i think this will werk" "hey-i-think-this-will-werk"  r
AddDescription "book good book" "book-good-book.md"
AddDescription "book good book" "book-good-book"  r
AddDescription "c++ cool" "c-cool.md"
AddDescription "c++ cool" "c-cool"  r
AddDescription "random" "random.md"
AddDescription "random" "random"  r
AddDescription "sex and the city" "sex-and-the-city.md"
AddDescription "sex and the city" "sex-and-the-city"  r
