AddDescription "Ma duc la plimbare" "ma-duc-la-plimbare"  r
AddDescription "Ma duc cu marta si coszu" "ma-duc-cu-marta-si-coszu"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "Obovon" "obovon.md"
AddDescription "Milli moi" "milli-moi.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii.md"
AddDescription "Turistii se bat cu bulgariiiiii!?!!!!" "turistii-se-bat-cu-bulgariiiiii"  r
AddDescription "Hey,sunt foarte aproape de succes!?!" "heysunt-foarte-aproape-de-succes"  r
AddDescription "het" "het.md"
AddDescription "het" "het"  r
AddDescription "Milli moi" "milli-moi"  r
