html {
	background: linear-gradient(#f3ca20,#000000) fixed;
	padding-bottom: 400px;
}
h1,h2,h3,h4 { 
	text-align: center ;
	color:#cae9f7;
}

#title{

	color:#cae9f7

}

picture{align:center}

img {align:center}
